body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  height: 75px;
  width: 100%;
  border: 1px solid black;
}

#nav-title {
  font-size: 30px;
  text-align: center;
}

#app-main {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

#search-input {
  margin-top: 20px;
  height: 50px;
  width: 500px;
  font-size: 20px;
}

#results-card {
  background-color: red;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 300px;
  width: 500px; 
}

#card-name{
  font-size: 30px;
}

#result-profile-data{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}